{% load staticfiles %}
<html>
<head>
   <title>{% block head_title %} ckrob {% endblock head_title %}</title>
   <link rel="stylesheet" href='{% static 'css/base.css' %}'>
   <link rel="stylesheet" href='{% static 'nvd3/build/nv.d3.css' %}'>
   <script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
   <script type="text/javascript" src='{% static 'underscore/underscore.js' %}'></script>
   <!-- <script type="text/javascript" src='{% static 'nvd3/build/nv.d3.min.js' %}'></script> -->
   <!-- <script type="text/javascript" src='{% static 'nvd3/build/nv.d3.js' %}'></script> -->
</head>
   <body>
      {% include 'messages_display.html' %}
      <div class='container'>
         {% block content %}
         {% endblock content %}
      </div>
   </body>
</html>
