{% load staticfiles %}
<html>
<head>
   <title>{% block head_title %} ckrob {% endblock head_title %}</title>
   <link rel="stylesheet" href='{% static 'css/base.css' %}'>
   <link rel="stylesheet" href='{% static 'nvd3/build/nv.d3.css' %}'>
   <script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
   <script type="text/javascript" src='{% static 'underscore/underscore.js' %}'></script>
   <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

   <!-- <script type="text/javascript" src='{% static 'nvd3/build/nv.d3.min.js' %}'></script> -->
   <!-- <script type="text/javascript" src='{% static 'nvd3/build/nv.d3.js' %}'></script> -->
   <div class='top'>
      <h1 class='name'>CKROB</h1>
      <h3 class='title'>{{title}}</h3>
   </div>
</head>

<div class='container'>
   <svg width='720' height='120'>

   </svg>
   <body>
      {% include 'messages_display.html' %}
         {% block content %}
         {% endblock content %}
   </body>
</div>
<div class='footer-class'>infinite iterations | infinite possibilities </div>
</html>
