{% extends 'base.html' %}


{% block content %}

<script>
   d3.json('http://127.0.0.1:8888/dash/endpoint/', function(error, data){
   var data_array = [];
      for(var i = 0; i < data.fact.length; i++){
         // console.log(data.fact[i].dims)
         // console.log(data)
      // console.log(data.fact[i].Value, " --- ", data.fact[i].dims)
      // if(Number(data.fact[i].Value) = Number)){
            data_array.push(Number( data.fact[i].Value))
         // }
      }
   // console.log(data_array);
   var svg = d3.select('svg');
   var circle = svg.selectAll('circle')
      .data(data_array);
   var circleEnter = circle.enter().append('circle');

   circleEnter.attr('cy', 60);
   circleEnter.attr('cx', function(d,i){
      return i * 100 + 30;
   });
   circleEnter.attr('r', function(d){ return Math.sqrt(d);
   });
   })

</script>

<!-- {% for i in row_array %}

{{i}}

{% endfor %} -->

<!-- {% for i in json_dict %}
   {{ i }}

{% endfor %} -->

{% endblock content %}
