{% extends 'base.html' %}
{% block content %}

   <h1> {{ title }} </h1>
   {% for obj in object_list %}
      <h4>
         <a href="{% url "posts:detail" id=obj.id %}">
            {{ obj.title }} <br/>
         </a>
      </h4>
      {{ obj.content }} <br/>
   {% endfor %}

   <div class="pagination">
    <span class="step-links">
        {% if .has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content%}
