body{
   width: 960px;
   margin: 0 auto;
   /*border-bottom: 1px solid #cccccc;*/
   margin-bottom: 120px;
}

.name{
   display: inline-block;
   /*width: 400px;*/
}

.title{
   display: inline-block;
   /*width:480px;*/
   float: right;
   margin-top: 30px;
}

.top{
   width: 960px;
   color:#777777;
   border-bottom: 1px solid #cccccc;
}

h1, h2, h3{
   color:#777777;
   font-family: helvetica;
}

.container{
   margin: 0 auto;
   width:960px;
   text-align: center;
   color:#777777;
   font-family: helvetica;
   font-weight: 100;
   padding-bottom:10px;
}

p{
   text-align: center;
}

a {
   color:#777777;
   font-family: helvetica;
}

.footer-class{
   padding-top: 5px;
   border-top: 1px solid #cccccc;
   color:#777777;
   width: 960px;
   font-size:10px;
   font-weight: lighter;
   font-family: helvetica;

}
/*.footer-class {

}*/
